<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>
        Saurabh Portfolio.
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Saurabh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/" target="_blank">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'Saurabh.docx.pdf' %}">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'allblog' %}">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="text-center">
    <div>
        <h1>{{ detailblog.title }}</h1>
    </div>
    <br/>
    <br/>
    <p class="text-center"><b>{{ detailblog.pub_date }}</b></p>
</section>
<main class="">
    <hr/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="box-shadow">
                <img class="card-img-top" src="{{ detailblog.image.url }}"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p>{{ detailblog.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer class="text-muted">
    <div class="container text-center">
        <p>
            Copyright 2019
        </p>
    </div>
</footer>
</html>