<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>
        Saurabh Portfolio.
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Saurabh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/" target="_blank">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'Saurabh.docx.pdf' %}">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'allblog' %}">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="text-center">
    <div>
        <h1>Welcome to Saurabh Blogs.</h1>
    </div>
    <br/>
    <br/>
</section>
<main class="">
    <div class="container">
        <div class="col-md-4">
            <h3>Latest Blog</h3>
        </div>
    </div>
    <hr/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            {% for blog in blogs.all %}
                <div class="col-md-4">
                    <h4><a href="{% url 'details' blog.id %} ">{{ blog.title }}</a></h4>
                    <div class="card mb-4 box-shadow">
                        <p><b>{{ blog.pub_date }}</b></p>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p>{{ blog.summary }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <img class="card-img-top" src="{{ blog.image.url }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
<footer class="text-muted">
    <div class="container text-center">
        <p>
            Copyright 2019
        </p>
    </div>
</footer>
</html>