<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        This is bootstrap exampal.
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Saurabh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hi I'm saurabh.</h1>
        <p class="lead text-muted">Hello, my name is saurabh and I like to work on django projects.</p>
        <p>
            <a href="mailto:saurabh@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="row">
        {% for jobs in job.all %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ jobs.image.url }}"/>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p>{{ jobs.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
<footer class="text-muted">
    <div class="container text-center">
        <p>
            Copyright 2019
        </p>
    </div>
</footer>
</html>